@media screen and (max-width: 1000px) {
    .navbar {
        position: relative;
    }

    .menu {
        display: none;

    }
    .logo h1{
        flex:100%;
        margin: 1%;
        text-align:center;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;

    }

    .escrita-left {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .img-rigth{
        flex:100%;
        margin: 0;
        text-align: center;

    }
    .whats{
        display: none;
    }
    .card{
        width: 100%;
    }
}